@use "./../../../styles/_global.scss";

.footer {
  .background {
    background-color: #f9fbfd;
  }
  .boxTop {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 48px 20px;

    .content {
      h5 {
        @extend .titleCommon;
        font-size: 1.3rem;
        margin: 0 0 0.25rem;
      }
      p {
        @extend .textCommon;
        margin: 0;
      }
    }
    .apps {
      display: flex;
      align-items: center;
      .app {
        width: 160px;
        height: 50px;
        display: block;
        margin: 0 20px;
      }
      .app:nth-child(1) {
        background: url("../../../../../public/assets/images/download_buttons.svg")
          0 -50px;
        margin-left: 0;
      }
      .app:nth-child(2) {
        background: url("../../../../../public/assets/images/download_buttons.svg")
          0 -101px;
      }
      .app:nth-child(3) {
        background: url("../../../../../public/assets/images/download_buttons.svg")
          0 0;
      }
    }
  }
  .boxBottom {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    .icons {
      padding: 0 20px;
      .logo {
        color: var(--blue);
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      .socialMedia {
        display: flex;
        align-items: center;
        svg {
          fill: #5a749a;
          width: 20;
          height: 20;
          margin-right: 0.75rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .title {
      color: #4a545e;
      font-weight: 700;
      font-size: 0.75rem;
      margin-top: 0;
      margin-bottom: 0.9rem;
    }
    .item {
      display: block;
      margin-bottom: 1.3rem;
      color: #4a545e;
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 1040px) {
  .footer {
    text-align: center;
    .boxTop {
      flex-direction: column;
      .apps {
        flex-direction: column;
        margin-top: 1.5rem;
        .app {
          margin: 10px 0 !important;
        }
      }
    }
    .boxBottom {
      flex-direction: column;
      align-items: center;
      .socialMedia {
        margin-right: 1.5rem;
      }
      .title {
        margin-top: 2rem;
      }
    }
  }
}
